In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
%matplotlib inline

References Used
https://www.machinelearningplus.com/nlp/lemmatization-examples-python/
https://www.analyticsvidhya.com/blog/2017/06/word-embeddings-count-word2veec/
https://www.analyticsvidhya.com/blog/2018/02/the-different-methods-deal-text-data-predictive-python/
https://www.analyticsvidhya.com/blog/2017/10/essential-nlp-guide-data-scientists-top-10-nlp-tasks/
https://www.analyticsvidhya.com/blog/2016/08/beginners-guide-to-topic-modeling-in-python/
https://www.analyticsvidhya.com/blog/2017/01/ultimate-guide-to-understand-implement-natural-language-processing-codes-in-python/

In [37]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [38]:
train_y = train['label']
train.drop(['label'], axis = 1, inplace = True)

In [39]:
train.head()

   id                                              tweet
0   1   @user when a father is dysfunctional and is s...
1   2  @user @user thanks for #lyft credit i can't us...
2   3                                bihday your majesty
3   4  #model   i love u take with u all the time in ...
4   5             factsguide: society now    #motivation

In [43]:
# calculating number of stopwords
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['stopwords'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train.head()

   id                                              tweet  stopwords
0   1   @user when a father is dysfunctional and is s...         10
1   2  @user @user thanks for #lyft credit i can't us...          5
2   3                                bihday your majesty          1
3   4  #model   i love u take with u all the time in ...          5
4   5             factsguide: society now    #motivation          1

In [45]:
# calculaing number of numerics
train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train.head()

   id                                              tweet  stopwords  numerics
0   1   @user when a father is dysfunctional and is s...         10         0
1   2  @user @user thanks for #lyft credit i can't us...          5         0
2   3                                bihday your majesty          1         0
3   4  #model   i love u take with u all the time in ...          5         0
4   5             factsguide: society now    #motivation          1         0

In [46]:
# calculating number of uppercases
train['upper'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train.head()

,id,tweet,stopwords,numerics,upper
0,1,@user when a father is dysfunctional and is s...,10,0,0
1,2,@user @user thanks for #lyft credit i can't us...,5,0,0
2,3,bihday your majesty,1,0,0
3,4,#model i love u take with u all the time in ...,5,0,0
4,5,factsguide: society now #motivation,1,0,0

In [47]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train.head()

,id,tweet,stopwords,numerics,upper
0,1,@user when a father is dysfunctional and is so...,10,0,0
1,2,@user @user thanks for #lyft credit i can't us...,5,0,0
2,3,bihday your majesty,1,0,0
3,4,#model i love u take with u all the time in ur...,5,0,0
4,5,factsguide: society now #motivation,1,0,0

In [48]:
# Removal of stopwords
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['noise1'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train.head()

,id,tweet,stopwords,numerics,upper,noise1
0,1,@user when a father is dysfunctional and is so...,10,0,0,@user father dysfunctional selfish drags kids ...
1,2,@user @user thanks for #lyft credit i can't us...,5,0,0,@user @user thanks #lyft credit can't use caus...
2,3,bihday your majesty,1,0,0,bihday majesty
3,4,#model i love u take with u all the time in ur...,5,0,0,#model love u take u time urð±!!! ððð...
4,5,factsguide: society now #motivation,1,0,0,factsguide: society #motivation

In [19]:
noise_list = [ '.', ',', '...', 'is', 'a', 'an', '!' ]

def remove_noise(cols):
    input_text = str(cols[0])
    words = str(input_text).split()
    noise_free_words = [word for word in words if word not in noise_list]
    noise_free_text = " ".join(noise_free_words)
    
    return noise_free_text
train['noise1'] = train[['tweet']].apply(remove_noise, axis = 1)
train.head()

,id,tweet,noise1
0,1,@user when a father is dysfunctional and is s...,@user when father dysfunctional and so selfish...
1,2,@user @user thanks for #lyft credit i can't us...,@user @user thanks for #lyft credit i can't us...
2,3,bihday your majesty,bihday your majesty
3,4,#model i love u take with u all the time in ...,#model i love u take with u all the time in ur...
4,5,factsguide: society now #motivation,factsguide: society now #motivation

In [49]:
import re

regex_pattern = "@[\w]*"
def calc_user(cols):
    input_text = str(cols[0])
    urls = re.finditer(regex_pattern, input_text)
    j = 0
    for i in urls: 
        input_text = re.sub(i.group().strip(), '', input_text)
#         print(i.group())
        j = j+1
    return j
def remove_at(cols):
    input_text = str(cols[0])
    urls = re.finditer(regex_pattern, input_text)
    j = 0
    for i in urls: 
        input_text = re.sub(i.group().strip(), '', input_text)
#         print(i.group())
        j = j+1
    return input_text
# remove_regex("remove this @hashtag @from analytics vidhya")
train['user_mention'] = train[['noise1']].apply(calc_user, axis = 1)
train['noise1'] = train[['noise1']].apply(remove_at, axis = 1)
train.head()

,id,tweet,stopwords,numerics,upper,noise1,user_mention
0,1,@user when a father is dysfunctional and is so...,10,0,0,father dysfunctional selfish drags kids dysfu...,1
1,2,@user @user thanks for #lyft credit i can't us...,5,0,0,thanks #lyft credit can't use cause offer wh...,2
2,3,bihday your majesty,1,0,0,bihday majesty,0
3,4,#model i love u take with u all the time in ur...,5,0,0,#model love u take u time urð±!!! ððð...,0
4,5,factsguide: society now #motivation,1,0,0,factsguide: society #motivation,0

In [50]:
regex_pattern2 = "#[\w]*"

def compute_hash(cols):
    input_text = str(cols[0])
    
    urls = re.finditer(regex_pattern2, input_text)
    hashtags = [i.group() for i in urls]
    
    hashtags = [j[1:] for j in hashtags]
    return ", ".join(hashtags)
# compute_hash("remove this #hashtag #from analytics vidhya")

def remove_hash(cols):
    input_text = str(cols[0])
    
    urls = re.finditer(regex_pattern2, input_text)
    for i in urls: 
        input_text = re.sub(i.group().strip(), '', input_text)
    return input_text
train['hashtags'] = train[['noise1']].apply(compute_hash, axis = 1)
train['noise1'] = train[['noise1']].apply(remove_hash, axis = 1)
train.head()

,id,tweet,stopwords,numerics,upper,noise1,user_mention,hashtags
0,1,@user when a father is dysfunctional and is so...,10,0,0,father dysfunctional selfish drags kids dysfu...,1,run
1,2,@user @user thanks for #lyft credit i can't us...,5,0,0,thanks credit can't use cause offer wheelch...,2,"lyft, disapointed, getthanked"
2,3,bihday your majesty,1,0,0,bihday majesty,0,
3,4,#model i love u take with u all the time in ur...,5,0,0,love u take u time urð±!!! ðððð ...,0,model
4,5,factsguide: society now #motivation,1,0,0,factsguide: society,0,motivation

In [51]:
# object Standardisation
lookup_dict = {'rt':'Retweet', 'dm':'direct message', "awsm" : "awesome", "luv" :"love",
               "u" :"you", "ur": "your", "ty": "thankyou" }
def _lookup_words(cols):
    input_text = str(cols[0])
    words = input_text.split() 
    new_words = [] 
    for word in words:
        if word.lower() in lookup_dict:
            word = lookup_dict[word.lower()]
        new_words.append(word) 
    new_text = " ".join(new_words) 
    return new_text
train['noise1'] = train[['noise1']].apply(_lookup_words, axis = 1)
train['hashtags'] = train[['hashtags']].apply(_lookup_words, axis = 1)
train.head()

,id,tweet,stopwords,numerics,upper,noise1,user_mention,hashtags
0,1,@user when a father is dysfunctional and is so...,10,0,0,father dysfunctional selfish drags kids dysfun...,1,run
1,2,@user @user thanks for #lyft credit i can't us...,5,0,0,thanks credit can't use cause offer wheelchair...,2,"lyft, disapointed, getthanked"
2,3,bihday your majesty,1,0,0,bihday majesty,0,
3,4,#model i love u take with u all the time in ur...,5,0,0,love you take you time urð±!!! ðððð...,0,model
4,5,factsguide: society now #motivation,1,0,0,factsguide: society,0,motivation

In [31]:
# import nltk
# nltk.download('wordnet')
# from nltk.stem.wordnet import WordNetLemmatizer
# ! spacy download en

import spacy
lemmatizer = spacy.load(en_core_web_sm)
# lem = WordNetLemmatizer()
def Lemmatize_spacy(cols):
    input_text = cols[0]
    doc = lemmatizer(input_text)
    output_text = " ".join(token.lemma_ for token in doc)
    return output_text

train['spacy_lemm'] = train[['noise1']].apply(Lemmatize_spacy, axis = 1)
train.head()

NameError: name 'en_core_web_sm' is not defined

In [52]:
import gensim
from gensim.utils import lemmatize

def lemmatize_genism(cols):
    input_text = cols[0]
    output = [wd.decode('utf-8').split('/')[0] for wd in lemmatize(input_text)]
    output_text = " ".join(output)
    return output_text
train['genism_lemm'] = train[['noise1']].apply(lemmatize_genism, axis = 1)

In [53]:
train['hash2'] = train[['hashtags']].apply(lemmatize_genism, axis = 1)
train.head()

,id,tweet,stopwords,numerics,upper,noise1,user_mention,hashtags,genism_lemm,hash2
0,1,@user when a father is dysfunctional and is so...,10,0,0,father dysfunctional selfish drags kids dysfun...,1,run,father dysfunctional selfish draghunt kid dysf...,run
1,2,@user @user thanks for #lyft credit i can't us...,5,0,0,thanks credit can't use cause offer wheelchair...,2,"lyft, disapointed, getthanked",thank credit use cause offer wheelchair van pdx,lyft disapoint getthanked
2,3,bihday your majesty,1,0,0,bihday majesty,0,,bihday majesty,
3,4,#model i love u take with u all the time in ur...,5,0,0,love you take you time urð±!!! ðððð...,0,model,love take time urð,model
4,5,factsguide: society now #motivation,1,0,0,factsguide: society,0,motivation,factsguide society,motivation

In [60]:
# import textblob
from textblob import TextBlob
train['genism_lemm'].apply(lambda x: str(TextBlob(x).correct()))
train['hash2'].apply(lambda x: str(TextBlob(x).correct()))
train.head()

,id,tweet,stopwords,numerics,upper,noise1,user_mention,hashtags,genism_lemm,hash2
0,1,@user when a father is dysfunctional and is so...,10,0,0,father dysfunctional selfish drags kids dysfun...,1,run,father dysfunctional selfish draghunt kid dysf...,run
1,2,@user @user thanks for #lyft credit i can't us...,5,0,0,thanks credit can't use cause offer wheelchair...,2,"lyft, disapointed, getthanked",thank credit use cause offer wheelchair van pdx,lyft disapoint getthanked
2,3,bihday your majesty,1,0,0,bihday majesty,0,,bihday majesty,
3,4,#model i love u take with u all the time in ur...,5,0,0,love you take you time urð±!!! ðððð...,0,model,love take time urð,model
4,5,factsguide: society now #motivation,1,0,0,factsguide: society,0,motivation,factsguide society,motivation

In [61]:
train.to_csv('spell_correct.csv')

Creating Word to vector # Word Embeddings
Using a pretrained model from glove

In [ ]:
from gensim.scripts.glove2word2vec import glove2word2vec
glove_input_file = 'glove.6B.100d.txt'
glove_otput_file = 'glove.6B.100d.txt.word2vec'
glove2word2vec(glove_input_file, word2vec_output_file)

In [ ]:
from gensim.models import KeyedVectors
filename = 'glove.6B.100d.txt.word2vec'
model = KeyedVectors.load_word2vec_format(filename, binary = False)

def word2vec(cols):
    input_text = str(cols[0])
    input_list = input_text.split()
    array = np.empty(100)
    for word in input_list:
        array = array + model[word]
    array = array / len(input_list)
    return array
tweet_word2vec = train[['noise']].apply(word2vec, axis = 1) 
hash_word2vec = train[['hash2']].apply(word2vec, axis = 1)
train.head()

Sentiment analysing using TextBlob

In [ ]:
train['sentiment'] = train['noise1'].apply(lambda x: TextBlob(x).sentiment[0])
train.head()

Term Frequency Inverce Document Frequency Matrix

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
                         stop_words= 'english',ngram_range=(1,1))
train_tfidf_vect = tfidf.fit_transform(train['noise1'])

In [ ]:
# Creating Bag of Words
from sklearn.feaure_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['noise1'])