In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
%matplotlib inline

In [8]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [9]:
train_y = train['label']
train.drop(['label'], axis = 1, inplace = True)

In [11]:
train.head()

   id                                              tweet
0   1   @user when a father is dysfunctional and is s...
1   2  @user @user thanks for #lyft credit i can't us...
2   3                                bihday your majesty
3   4  #model   i love u take with u all the time in ...
4   5             factsguide: society now    #motivation

In [16]:
noise_list = [ '.', ',', '...', 'is', 'a', 'an', '!' ]

def remove_noise(cols):
    input_text = str(cols[0])
    words = str(input_text).split()
    noise_free_words = [word for word in words if word not in noise_list]
    noise_free_text = " ".join(noise_free_words)
    
    return noise_free_text
train['noise1'] = train[['tweet']].apply(remove_noise, axis = 1)
train.head()

,id,tweet,noise1
0,1,@user when a father is dysfunctional and is s...,@user when father dysfunctional and so selfish...
1,2,@user @user thanks for #lyft credit i can't us...,@user @user thanks for #lyft credit i can't us...
2,3,bihday your majesty,bihday your majesty
3,4,#model i love u take with u all the time in ...,#model i love u take with u all the time in ur...
4,5,factsguide: society now #motivation,factsguide: society now #motivation

In [47]:
import re

regex_pattern = "@[\w]*"
def calc_user(cols):
    input_text = str(cols[0])
    urls = re.finditer(regex_pattern, input_text)
    j = 0
    for i in urls: 
        input_text = re.sub(i.group().strip(), '', input_text)
#         print(i.group())
        j = j+1
    return j
def remove_at(cols):
    input_text = str(cols[0])
    urls = re.finditer(regex_pattern, input_text)
    j = 0
    for i in urls: 
        input_text = re.sub(i.group().strip(), '', input_text)
#         print(i.group())
        j = j+1
    return input_text
# remove_regex("remove this @hashtag @from analytics vidhya")
train['user_mention'] = train[['noise1']].apply(calc_user, axis = 1)
train['noise1'] = train[['noise1']].apply(remove_at, axis = 1)
train.head()

,id,tweet,noise1,user_mention
0,1,@user when a father is dysfunctional and is s...,when father dysfunctional and so selfish he d...,1
1,2,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...,2
2,3,bihday your majesty,bihday your majesty,0
3,4,#model i love u take with u all the time in ...,#model i love u take with u all the time in ur...,0
4,5,factsguide: society now #motivation,factsguide: society now #motivation,0

In [52]:
regex_pattern2 = "#[\w]*"

def compute_hash(cols):
    input_text = str(cols[0])
    
    urls = re.finditer(regex_pattern2, input_text)
    hashtags = [i.group() for i in urls]
    
    hashtags = [j[1:] for j in hashtags]
    return ", ".join(hashtags)
# compute_hash("remove this #hashtag #from analytics vidhya")

def remove_hash(cols):
    input_text = str(cols[0])
    
    urls = re.finditer(regex_pattern2, input_text)
    for i in urls: 
        input_text = re.sub(i.group().strip(), '', input_text)
    return input_text
train['hashtags'] = train[['noise1']].apply(compute_hash, axis = 1)
train['noise1'] = train[['noise1']].apply(remove_hash, axis = 1)
train.head()

,id,tweet,noise1,user_mention,hashtags
0,1,@user when a father is dysfunctional and is s...,when father dysfunctional and so selfish he d...,1,run
1,2,@user @user thanks for #lyft credit i can't us...,thanks for credit i can't use cause they do...,2,"lyft, disapointed, getthanked"
2,3,bihday your majesty,bihday your majesty,0,
3,4,#model i love u take with u all the time in ...,i love u take with u all the time in urð±!!...,0,model
4,5,factsguide: society now #motivation,factsguide: society now,0,motivation